/*****************************************
  guide-style for all basic HTML Element
*****************************************/
*{
  box-sizing: border-box;
}
body {
  background-color: #e7e5e4;
  text-align: center;
  min-width: 1024px;
}

ui-view{
  background-color: inherit;
  display: block;
  position: relative;
}
ui-view.main-view{
  //padding: 1em;
}

/***********/
/* buttons
/***********/
button{
  border:none;
  outline: none;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0.5em;
  //transform-style: preserve-3d;
  transition: transform 0.05s linear;
  position: relative;

  &::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
  }
  &:hover:after{
    background-color: rgba(0, 0, 0, 0.2);
  }
  &:active{
    outline: none;
    transform: scale(0.9);
  }
}
/****************
inputs [type=text]
*****************/
input {
  display: block;
  font-size: 14px;
  width: 240px;
  margin: 10px auto;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.55), 0px 1px 1px rgba(255, 255, 255, 0.5);
  border: 2px solid #FFF;
  line-height: 16px;
  opacity: 0.5;
  transition: all 0.1s linear;
  transition-delay: 0.2s;
}

input:hover,
input:focus {
  opacity: 0.6;
  color: #344;
  /* border: 2px solid rgba(255, 255, 255, 0.63); */
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px 1px 6px rgba(0, 0, 0, 0.35);
  outline: none;
  font-size: 18px;
  /* line-height: 16px; */
}

input:hover{
  transition-delay: 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: inset 0 1px 2px rgba(255,255,255, .35), 0px 1px 15px rgba(0,246,255,.5);
  border: 1px solid #08c;
  outline: none;
}



/***********************
 switch-player-button
***********************/
button.big-main-button {
  height: 6rem;
  width: 240px;
  padding: 10px 8px 10px 8px;
  border-radius: 100px/20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55), 0px 1px 1px rgba(255, 255, 255, 0.5);
  border: 2px solid #FFF;
  line-height: 16px;
  transition: all 0.1s linear;
  font-size: 20px;
  font-family: sans-serif;


}
.big-main-button.burn-fx{
  animation: move-shadow 0.65s ease-in-out infinite alternate;
  &:after{
    animation: move-shadow 0.80s ease-in-out infinite alternate;
  }
}

@keyframes move-shadow
{
  0% {box-shadow: inset 0 0 20px rgba(254, 252, 201, 0.5),
  inset 10px -10px 30px rgba(254, 236, 133, 0.5),
  inset    -20px -20px 40px rgba(255, 174, 52, 0.5),
  inset     20px -40px 50px rgba(236, 118, 12, 0.5),
  inset     -20px -60px 60px rgba(205, 70, 6, 0.5),
  inset     0 -80px 70px rgba(151, 55, 22, 0.5),
  inset     10px -90px 80px rgba(69, 27, 14, 0.5);
  }
  100% {box-shadow: inset 0 0 20px rgba(254, 252, 201, 0.5),
  inset 10px -10px 30px rgba(254, 252, 201, 0.5),
  inset -20px -20px 40px rgba(254, 236, 133, 0.5),
  inset 22px -42px 60px rgba(255, 174, 52, 0.5),
  inset -22px -58px 50px rgba(236, 118, 12, 0.5),
  inset 0 -82px 80px rgba(205, 70, 6, 0.50),
  inset 10px -90px 80px rgba(151, 55, 22, 0.50);}
}

/***********************
 switch-toggle-player-button
***********************/
button.swings-button {
  height: 6rem;
  width: 240px;
  padding: 10px 8px 10px 8px;
  border-radius: 100px/20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55),
  0px 1px 1px rgba(255, 255, 255, 0.5);
  border: 2px solid #FFF;
  line-height: 16px;
  transition: all 0.1s linear;
  font-size: 20px;
  font-family: sans-serif;
  margin: 20px;
  position: relative;
  background: #DDDDDD;
  transform-origin: center;

  &:active {
    outline: none;
    transform: none;
  }

  &.toggle-right {
    transform: rotateY(10deg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55),
    0px 1px 1px rgba(255, 255, 255, 0.5),
    -40px 38px 7px -41px rgba(0, 0, 0, 0.4);
  }
  &.toggle-left{
    transform: rotateY(-10deg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55),
    0px 1px 1px rgba(255, 255, 255, 0.5),
    39px 38px 7px -41px rgba(0,0,0,0.4);
  }
}

