control-pannel{
  display: inline-block;
  border: 2px solid white;
  border-radius: 0.5em;
  perspective: 50000px;
  //transition: all 0.3s linear;
  transform-style: preserve-3d;
  background-color: #F5F5F5;

  button{
    border:none;
    outline: none;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0.5em;
    transform-style: preserve-3d;
    transition: transform 0.05s linear;

    &::after{
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: inherit;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:hover:after{
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:active{
      outline: none;
      transform: scale(0.9);
    }
  }
}