/************
 log-table
***********/
@font-face{
  font-family:"audiowide";
  src: url('../../fonts/auditiowide/Audiowide-Regular.ttf') format("truetype");
}
@font-face{
  font-family:"Digital";
  src: url('../../fonts/digital/digital-7(mono).ttf') format("truetype");
}

.log-table{
  min-height: 30em;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0,0,0,0.2);

  .header{
    font-size: 20px;
    border-bottom: 1px solid;
    margin-bottom: 0.4em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55),
    0px 1px 1px rgba(255, 255, 255, 0.5)
  }
  .start-time{
    letter-spacing: 2px;
  }


  .duration-time{
    letter-spacing: 2px;
  }
  .header, .log{
    display: flex;
    div{
      display: inline-block;
      float: left;
      padding: 0 0.5em;
      flex:1;
    }
  }
  .log{
    overflow: hidden;
    clear: both;
    font-family: "Times New Roman";

    .player-name{
      font-family: audiowide;
    }

    .start-time,.end-time,.duration-time{
      font-family: Digital;
    }

  }
  .log:nth-last-child(odd){
    background-color: #e7e5e4;
    border-bottom: 1px solid rgba(0,0,0,0.4);
  }
  .log:nth-last-child(even){
    background-color: rgba(216, 215, 211, 1);
    border-top: 1px solid rgba(0,0,0,0.4);
    margin-top: 3px;
  }
}