@font-face{
  font-family:"Digital";
  src: url('../../../fonts/digital/digital-7(mono).ttf') format("truetype");
}

timer{
  display: inline-block;
  font-size: 5.7em;
  font-family: "Digital";

  &.finish{
    animation: shoutdown  0.4s ;
    animation-fill-mode: both;
  }
}

@keyframes shoutdown {
  100% {
    transform: scaleY(0) scaleX(1.3);
  }
}