$switch-height: 21px;
$toggle-vert-paddding: 3px;

toggle{
  box-sizing: content-box;
  position: relative;
  display: inline-block;
  width: 57px;
  height: 21px;
  border: #FFFFFF solid 2px;
  background: white;
  box-shadow: inset 1px 2px 3px -2px #292f34,
              0 1px 2px rgba(0, 0, 0, 0.55),
              0 1px 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 12px;
  border-radius: 0.5em;
  font-weight: bold;
  -webkit-user-select: none;
  span {
    display: inline-block;
    width: 17px;
    text-align: center;
    line-height: $switch-height + 1px;
    -webkit-user-select: none;

  }
  span.on {
    color: #000000;
    width: 31px;
  }
  .switch {
    position: absolute;
    top: 2px;
    width: 26px;
    height: 17px;
    background: #c7c7c7;
    z-index: 1;
    transition: all 0.15s ease-in-out;
    border-radius: 0.3em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55),
    0 1px 1px rgba(255, 255, 255, 0.5);

  }
  &[disabled] {
    background-color: #363a3d;
  }

  .switch {
    left: 6%;
  }

  &[checked] .switch {
    left: 52%;
  }

}
