<side-menu>
    <h3>customize</h3>
    <br>
    <span>milli sec :</span><toggle ng-model="context.milisec"></toggle>
    <br>
    <span>burn fx :</span><toggle ng-model="context.burnFx"></toggle>
    <br>
    <span>auto start:</span><toggle ng-model="context.autoStart"></toggle>

    <br>
    <button class="pause-button"
            ng-click="pauseTimers()">
        <i class="fa fa-pause fa-fw"></i>
        Pause
    </button>

    <button class="reset-button"
            ng-click="resetTimers()">
        <i class="fa fa-stop fa-fw"></i>
        Reset
    </button>

</side-menu>



<div class="chess-timer">
    <button class="swings-button"
            ng-class="{
                'burn-fx':context.burnFx,
                'toggle-left':players[0].timer.state.start,
                'toggle-right':players[1].timer.state.start
            }"
            ng-click="switchPlayer()">

        <span >switch</span>
    </button>
    <br>

    <tick-tock class="player-1"  ng-class="{
        start: players[0].timer.state.start,
        pause: players[0].timer.state.pause,
    }"></tick-tock>

    <tick-tock class="player-2" ng-class="{
        start: players[1].timer.state.start,
        pause: players[1].timer.state.pause,
    }"></tick-tock>

    <div class="log-table side-by-side"
         ng-repeat="player in players"
         ng-class="{
            active:player.active,
            'not-active': !player.active && (players[0].active || players[1].active)
        }">

        <div class="player-name" ng-bind="player.name">name</div>
        <span>Time Left</span>
        <timer timer-model="player.timer"
               with-mili-seconds="context.milisec">timer inside</timer>

        <h3 class="header">
            <div class="start-time">start</div> -
            <div class="end-time">end</div> =
            <div class="duration-time">duration</div>
        </h3>
        <div class="log" ng-repeat="log in  player.timeLogger.list().reverse()">
            <div class="start-time"
                 ng-bind="log.startTime">player start time</div> -

            <div class="end-time"
                 ng-bind="log.endTime">player end time</div> =

            <div class="duration-time"
                 ng-bind="log.duration">player duration</div>
        </div>
        <div class="summary">
            <div class="duration-time" ng-bind="player.timeLogger.summary">10:20:20</div>
        </div>
    </div>

</div>