<customize-menu>
    <h3>customize</h3>
    <br>
    <span>milli sec :</span><toggle ng-model="context.milisec"></toggle>
    <br>
    <span>burn fx :</span><toggle ng-model="context.burnFx"></toggle>
</customize-menu>


<div class="simple-timer">
    <tick-tock ng-class="{
    start:timer.state.start,
    pause:timer.state.pause,
}"></tick-tock>
    <timer timer-model="timer"
           with-mili-seconds="context.milisec"
           ng-class="{finish:timer.state.timeEnd}"
    >timer inside</timer>

    <br>
    <control-pannel >
        <button class="start-button"
                ng-click="timer.start()">
            <i class="fa fa-play fa-fw"></i>
            Start
        </button>

        <button class="reset-button"
                ng-click="timer.pause()">
            <i class="fa fa-pause fa-fw"></i>
            Pause
        </button>

        <button class="pause-button"
                ng-click="timer.reset()">
            <i class="fa fa-stop fa-fw"></i>

            Reset
        </button>
    </control-pannel>
</div>
