<timer timer-model="context.timer"
       ng-class="{finish:context.timer.state.timeEnd}"
>timer inside</timer>

<br>
<control-pannel >

    <button class="start-button"
            ng-click="context.timer.start()">
        <i class="fa fa-play fa-fw"></i>
        start
    </button>

    <button class="reset-button"
            ng-click="context.timer.pause()">
        <i class="fa fa-pause fa-fw"></i>
        pause
    </button>

    <button class="pause-button"
            ng-click="context.timer.reset()">
        <i class="fa fa-stop fa-fw"></i>

        reset
    </button>
</control-pannel>