.dual-timer{
  min-width: 26rem;
  margin: 0 auto;
  display: inline-block;

  timer{
    font-size:15px;
    font-weight: bold;
  }
  .switch-player-button{
    height: 6rem;
    /* position: absolute; */
    width: 240px;
    /* margin: 10px auto; */
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55), 0px 1px 1px rgba(255, 255, 255, 0.5);
    border: 2px solid #FFF;
    line-height: 16px;
    /* opacity: 0.5; */
    transition: all 0.1s linear;
    /* transform: translateX(-50%); */
    font-size: 20px;
    font-family: sans-serif;
  }

  .header{
    font-size: 20px;
  }

  .header, .log{
    display: flex;
    div{
      display: inline-block;
      float: left;
      padding: 0 0.5em;
      flex:1;
    }
  }

  .log{
    overflow: hidden;
    clear: both;
    font-family: "Times New Roman";
    border-bottom:1px solid ;


  }

  .log:nth-last-child(odd){
    background-color: #e7e5e4;
    border-width: 3px;
    margin-bottom: 3px;
  }
  .log:nth-last-child(even){
    background-color: rgba(216, 215, 211, 1);

  }



  .player-name{

  }

  .start-time{
    letter-spacing: 2px;
  }

  .duration-time{
    letter-spacing: 2px;
  }


}