*{
    box-sizing: border-box;
}
body{
    background-color: #e7e5e4;
    text-align: center;


    tick-tock{
        position: absolute;
        top: 0;
        right: 0;
        background-color: inherit;
    }
}

ui-view{
    background-color: inherit;
}



@import "./common/style/guildStyle";