<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body >

<ui-view>

    <h1 class="elegantshadow">
        Timer (counterdown)
    </h1>
    <top-bar>
        <a ui-sref="root.timer({t:'10:20:32'})" ui-sref-active="active"     >simple</a>
        <a  ui-sref="root.dual({t:context.duration})" ui-sref-active="active"     >dual</a>
        <a ui-sref="root.chess({t:context.duration})" ui-sref-active="active"     >chess</a>
    </top-bar>
    <div class="edit-timer" ng-class="{open:!context.timer.state.setted}">
        <div class="container" >
            <div class="description">
                Setting Timer by using one of the format:
                <br>
                <span class="format">10h 10m 10s 10ms</span>
                <br>
                <span class="format">10hour/s 10 minute/s 10 second/s 10milisec/s</span>
                <br>
                <span class="format">10:10:10.10</span>
                <br>
                <span class="format">or <a href="http://en.wikipedia.org/wiki/ISO_8601#Time_intervals">ISO 8601</a> style : T4H5M6S</span>
                <br>
                add or not add space ' ' between numbers <br> and unit is by to you. either work
            </div>
            <input ng-model="context.duration"
                   ng-model-options="{updateOn:'blur'}"
                   placeholder="hh:mm:ss[.ml]">
            <control-pannel >

                <button class="start-button" ng-click="context.duration='0:01:00'">
                    1 min
                </button>

                <button class="reset-button" ng-click="context.duration='0:05:00'">
                    5 min
                </button>

                <button class="pause-button" ng-click="context.duration='0:15:00'">
                    15 min
                </button>

                <button class="pause-button" ng-click="context.duration='0:30:00'">
                    30 min
                </button>
            </control-pannel>
        </div>
        <div class="bar" class-toggle=".edit-timer.open">
            <i class="pullmenu-icon"></i>

        </div>
    </div>


    <ui-view class="main-view"> loading... </ui-view>



</ui-view>
<!-- Google Analytics -->
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', {
        trackingId: 'UA-74111445-1',
        cookieDomain: 'auto',
        name: 'Timer',
        userId: ''
    });


</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
<script src="vendors.js"></script>

</body>
</html>