*{
    box-sizing: border-box;
}
body{
    background-color: #e7e5e4;
    text-align: center;
    min-width: 1024px;


    tick-tock{
        position: absolute;
        right: 0;
        background-color: inherit;
    }
}

ui-view{
  background-color: inherit;
  display: block;
  position: relative;
}
ui-view.main-view{
  padding: 1em;
}


