.edit-timer{
  margin: 1em 0;
  .container{
    position: relative;
    transition: all 0.1s;
    height: 0;
    overflow: hidden;


  }
  &.open{
    .container{
      height: 9em;
    }
  }

  .bar{
    background: #353541;
    color: white;
  }
  .description{
    position: absolute;
    right:0;
    float: right;
    font-size: 12px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.47);
    text-align: left;
    line-height: 1.6em;
    font-weight: bold;
    font-family: monospace;
    color: rgba(0,0,0,0.3);
    a{
      color: inherit;
    }
  }

  .pullmenu-icon{
    width: 16px;
    height: 2px;
    background: #FFF;
    position: relative;
    right: 20px;
    bottom: 8px;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    display: inline-block;

    &:before{
      content: '';
      width: 16px;
      height: 2px;
      background: #FFF;
      position: absolute;
      top: 5px;
      left: 0;
    }
    &:after{
      content: '';
      width: 8px;
      height: 2px;
      background: #FFF;
      position: absolute;
      top: 10px;
      left: 4px;
    }
  }
}