<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body >
<menu>
    <menu>
        <div>
            <a href="#/dual">dual</a>
            <a href="#/timer">timer</a>
            <a href="#/chess">chess timer</a>
        </div>
    </menu>
</menu>
<ui-view>

    <h1 class="elegantshadow">
        Timer (counterdown)
    </h1>

    <input ng-model="context.duration" placeholder="hours:minutes:secounds.milisecounds">
    <br>
    <control-pannel >

        <button class="start-button" ng-click="context.duration='0:01:00'">
            1 min
        </button>

        <button class="reset-button" ng-click="context.duration='0:05:00'">
            5 min
        </button>

        <button class="pause-button" ng-click="context.duration='0:15:00'">
            15 min
        </button>

        <button class="pause-button" ng-click="context.duration='0:30:00'">
            30 min
        </button>
    </control-pannel>
    <hr>


    <tick-tock ng-class="{
        start:context.timer.state.start,
        pause:context.timer.state.pause,
    }"></tick-tock>
    <ui-view>234234</ui-view>
</ui-view>
</body>
</html>